.alert {
  color: $dark-text;
  border-left: 7px solid;
  font-weight: 500;
  @include radius;

  svg {
    margin-right: 0.5rem;
  }
}

.alert-success {
  background-color: #c5f7dc;
  border-color: #b8e9c4;
  border-left-color: $success;
}

.alert-danger {
  background-color: #ffcfcb;
  border-color: #f5c6cb;
  border-left-color: $danger;
}

.alert-warning {
  background-color: #ffe8c3;
  border-color: #f5eec6;
  border-left-color: $warning;
}

.alert-info {
  background-color: #f4fff7;
  border-color: #cde2ff;
  border-left-color: $info;
}