$primary       : #328af1;
$secondary     : #243858;
$tertiary      : #1a263b;
$btn-link-color: #fff;

$success: #3bc279;
$warning: #e89f29;
$info   : #3d84e5;
$danger : #e9594c;

$dark-text: #1d2327;

$radius: 20px;

$body-bg: #f6f6fb;

$font-family-sans-serif: 'Poppins';
$font-family-serif     : Georgia,
"Times New Roman",
Times,
serif !default;

$font-family-base: $font-family-sans-serif !default;